In [18]:
import pandas as pd
import numpy as np
from pandas import Series

In [19]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.405223 -0.273128 -0.384451  0.892998
2013-01-02  0.090959  0.462612 -0.235714 -0.202076
2013-01-03  0.915424 -0.546903 -0.396506  0.861174
2013-01-04 -0.064783 -0.584981  0.209158 -1.973212
2013-01-05  1.393941  0.494950 -1.276618  0.273355
2013-01-06 -1.244627  0.050110 -0.390242  0.848057

In [21]:
# 取Dataframe中尾部数据
df.tail(3)

                   A         B         C         D
2013-01-04 -0.064783 -0.584981  0.209158 -1.973212
2013-01-05  1.393941  0.494950 -1.276618  0.273355
2013-01-06 -1.244627  0.050110 -0.390242  0.848057

In [22]:
# 取Dataframe中头部数据
df.head(2)

                   A         B         C         D
2013-01-01  1.405223 -0.273128 -0.384451  0.892998
2013-01-02  0.090959  0.462612 -0.235714 -0.202076

In [23]:
# 截取某行到某行
df[1:3]

                   A         B         C         D
2013-01-02  0.090959  0.462612 -0.235714 -0.202076
2013-01-03  0.915424 -0.546903 -0.396506  0.861174

In [24]:
# 将columns的大写换成是小写
df.columns = [x.lower() for x in df.columns]
df

                   a         b         c         d
2013-01-01  1.405223 -0.273128 -0.384451  0.892998
2013-01-02  0.090959  0.462612 -0.235714 -0.202076
2013-01-03  0.915424 -0.546903 -0.396506  0.861174
2013-01-04 -0.064783 -0.584981  0.209158 -1.973212
2013-01-05  1.393941  0.494950 -1.276618  0.273355
2013-01-06 -1.244627  0.050110 -0.390242  0.848057

In [26]:
b = Series(df['a'])

In [35]:
np_data = np.array(b)
print(np_data)

[ 1.40522261  0.09095907  0.9154243  -0.06478253  1.39394082 -1.24462736]

In [34]:
for each in np_data:
    print(each)

1.4052226113602626
0.09095906781568379
0.9154243017957767
-0.06478252526017728
1.3939408240945277
-1.2446273634757603